body {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 40px;
}

#container {
    height:800px ;
    width: 850px;
    display: flex;
    flex:1 1 0;
    flex-direction: row;
    flex-wrap: wrap;
}

.grid {
    background-color: white;
    height: 50px;
    width: 50px;
    border: 1px solid black;
    margin: 0;
    padding: 0;
}