body {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 10px;
}

button {
    margin: 20px;
}

#container {
    height:800px ;
    width: 850px;
    display: flex;
    flex:1 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    margin: 0;
}

.grid {
    display: flex;
    flex: 1 0 auto;
    max-height: 800;
    background-color: white;
    border: 1px solid black;
    margin: 0;
    padding: 0;
}